version: "3"
services:
  hadoop-master:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-master
    volumes:
      - ./data_local:/home/data_local  # Partage de dossier Windows/Mac <-> Docker
      - ./scripts:/home/scripts        # Accès aux scripts Python dans Docker
      - ./config:/home/config          # Accès aux configs Flume/Sqoop
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop.env
    ports:
      - "9870:9870" # Accès Web HDFS (NameNode)
      - "9000:9000" # Port interne HDFS

  hadoop-datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-datanode
    volumes:
      - ./data_local:/home/data_local
    env_file:
      - ./hadoop.env
    links:
      - hadoop-master

# Fichier de variables d'environnement nécessaire pour cette image